{%- set site_title = '' -%}
{%- set site_description = '' -%}
{%- set lower_target = '' -%}
{%- if(page_id!='top') -%}
{%- set lower_target = dir+'/' -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {%- if title -%}
    <title>{{ title }} | Somatics.ph {{ site_title }}</title>
    {%- else -%}
    <title>{{ site_title }} Somatics.ph </title>
    {%- endif -%} {%- if description -%}
    <meta name="description" content="{{ description }}" />
    {%- else -%}
    <meta name="description" content="{{ site_description }}" />
    {%- endif -%}
    <meta name="format-detection" content="telephone=no">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ dir }}/img/favicon.ico" />
    <link rel="icon" href="{{ dir }}/img/favicon-192x192.png" sizes="48x48" type="image/png" media="all" />
    <link rel="shortcut icon" href="{{ dir }}/img/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ dir }}/mfp.statics/mailformpro.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../mfp.statics/mailformpro.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/css/style-sp1000.css" media="only screen and (max-width: 1000px)" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/css/style-sp768.css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/css/animation.css" />

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="{{dir}}/js/functions.js"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Viga&display=swap" rel="stylesheet">
    </head>
    <!-- <div id="custom-cursor"></div> -->
    <body id="{{ page_id }}">
      {% if page_id=='top' %}
      <header class="header-main">
        <div class="inner">
          <a href="{{ dir }}/index.html" class="header_logo">
            <img src="{{dir}}/img/logo.jpg" alt="somatics">
          </a>
          <div class="nav-box">
            <nav class="header-nav">
              <ul class="link-wrap pc">
                <li class="link-item"><a class="" href="#">Home</a></li>
                <li class="link-item"><a class="" href="#">About</a></li>
                <li class="link-item"><a class="" href="#">Service</a></li>
                <li class="link-item"><a class="" href="#">Blog</a></li>
              </ul>
              <ul class="link-wrap sp">
                <li class="link-item"><a class="" href="#">Home</a></li>
                <li class="link-item"><a class="" href="#">About</a></li>
                <li class="link-item"><a class="" href="#">Service</a></li>
                <li class="link-item"><a class="" href="#">Blog</a></li>
              </ul>
            </nav>
            <div class="contact-box">
              <a class="contact-tel w-border" href="{{dir}}/contact/index.html">Contact</a>
            </div>
          </div>
          <div class="sp-menu hide-pc"><span></span><span></span><span></span></div>
        </div>
      </header>
      {% else %}
      <header class="header-main header-main_sub">
        <div class="inner">
          <a href="{{ dir }}/index.html" class="header_logo">
            <img src="{{dir}}/img/logo.jpg" alt="somatics">
          </a>
          <div class="nav-box">
            <nav class="header-nav">
              <ul class="link-wrap pc">
                <li class="link-item"><a class="" href="#">Home</a></li>
                <li class="link-item"><a class="" href="#">About</a></li>
                <li class="link-item"><a class="" href="#">Service</a></li>
                <li class="link-item"><a class="" href="#">Blog</a></li>
              </ul>
              <ul class="link-wrap sp">
                <li class="link-item"><a class="" href="#">Home</a></li>
                <li class="link-item"><a class="" href="#">About</a></li>
                <li class="link-item"><a class="" href="#">Service</a></li>
                <li class="link-item"><a class="" href="#">Blog</a></li>
              </ul>
            </nav>
            <div class="contact-box">
              <a class="contact-tel w-border" href="{{dir}}/contact/index.html">Contact</a>
            </div>
          </div>
          <div class="sp-menu hide-pc"><span></span><span></span><span></span></div>
        </div>
      </header>
      {% endif %}
