<div class="lower-mv pd-px pd-py" style="background-image: url({{ dir }}/img/{{ mv_link }}/{{ img_page }}/mv.png);">
  <div class="inner">
    <div class="lower-mv_text">
      <h2>{{ title }}</h2>
      <h3>{{ mv_ttl }}</h3>
    </div>
    <div class="breadcrumbs">
      <a href="{{dir}}/index.html">TOP</a>
      <span>ー</span>
      <a href="{{dir}}/{{ page_id }}/index.html">{{ breadcrumb_ttl }}</a>
    </div>
  </div>
</div>
