---
title:
description:
page_id: top
dir: .
com_name: 道央メタル
---

{% include "header.njk" %}

<main>
  <article>
    <div class="mv"></div>
    <section class="about animate-bottom pd-tb pd-lr">
      <div class="inner center">
        <img src="{{dir}}/img/top/img05.jpg" alt="img05" class="w100">
      </div>
    </section>
    <section class="about animate-bottom pd-tb pd-lr">
      <div class="inner center">
        <img src="{{dir}}/img/top/img01.jpg" alt="img01" class="w100">
      </div>
    </section>
    <section class="about animate-bottom pd-tb pd-lr">
      <div class="inner center">
        <img src="{{dir}}/img/top/img04.jpg" alt="img04" class="w100">
      </div>
    </section>
  </article>
</main>

{% include "footer.njk" %}
